body{
    background-color: aliceblue;
    margin: 0;
}
div{
    background-color: aqua;
}
span{
    background-color: burlywood;
}
.text_class{
    width: 400px;
    text-align: center;
}
#unique_sample{
    text-align: center;
}