body{
    background-color: aliceblue;
    margin: 0;
}

#menu_strony a:link, #menu_stron a:visited #menu_stron a:active{
    text-decoration: none;
    color: black;
    border: 1px solid cornflowerblue;
    background-color: white;
    padding: 10px;
    display: inline-block;
}

a:hover{
    background-color: cornflowerblue;
    border: 1px solid white;
    color: white;
}
a:active{

}