body{
    background-color: aliceblue;
    margin: 0;
}
.type_block{
   
    background-color: red;
    display: block;
}
.type_inline{
   
    background-color: green;
    display: inline;
}
.table{
    width: 50%;
    display: table;
    box-shadow: 10px 10px 5px #888888;
}
.type_inlineblock{
    
    background-color: blue;
    display: inline-block;
    width: 200px;
    height: 100px;
}
.table_row{

    text-align: center;
    background-color: yellow;
    height: 100px;
    font-size: 60px;
    font-weight: bold;

}
.table_column{
    width: 100px;
}