*{
    scroll-behavior: smooth;
}
#toTopButton{
    background-color: aquamarine;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 15px;
    right: 15px ;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
#toTopButton:hover{
    background-color: rgb(20, 175, 124);
}

#wykrzyknik{
    position: absolute;
    width: 128px;
    height: 128px;
}